h1{
    color:red; 
    text-align: center;
    font-family:'Trebuchet MS'; 
    font-size:48px;
}

p{
    font-size: 24px;
}

#quees{
    text-align: center;
}

.liga{
    font-weight:bold;
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
    
.Banner{
    text-align: center;
}

.pagina{
    background-color: #D9D9D9;
}
